////////////////////////////////////////////////////////
/////   MODULE.scss
/////   css for component classes
/////   Scalable and Modular Architecture for CSS
/////   https://smacss.com
////////////////////////////////////////////////////////

@import "partials/mixins";
@import "partials/variables";

.tranz_norm {
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.tranz_slow {
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  transition: all 1s ease-out; }

.tranz_fast {
  -webkit-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }

#main {
  padding-bottom: 4em;
  margin: 0 1em; }

#mainContent {
  overflow-y: hidden;
  overflow-x: hidden; }

.demo_message {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  text-align: center; }
  .demo_message a {
    font-weight: 500; }

.preloader {
  background-repeat: no-repeat; }

.icoframe {
  border: 2px solid #FFF;
  background: white;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  height: 2em;
  width: 2em;
  text-align: center;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05); }

.menubtn_wrapper {
  display: block;
  box-sizing: border-box;
  float: left;
  padding: 0;
  margin: 0 auto;
  width: 10%;
  height: 3.5em;
  cursor: pointer; }
  .menubtn_wrapper .icomoon {
    font-size: 1.75em;
    cursor: pointer;
    padding: 0;
    margin: 0.5em 0 0 1em; }
  .menubtn_wrapper .icomoon:hover {
    color: #666666; }

.sitelogo_wrapper {
  display: block;
  box-sizing: border-box;
  float: left;
  padding: 0;
  height: 3.5em;
  width: 80%;
  text-align: center;
}

.sitelogo {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 0.35em; 
}

.toolbox_wrapper {
  display: block;
  box-sizing: border-box;
  float: right;
  padding: 0;
  margin: 0;
  width: 10%;
  height: 3.5em;
  cursor: pointer; }
  
.searchbox_wrapper {
  box-sizing: border-box;
  float: left;
  padding: 0;
  margin: 0;
  width: 40%;
  height: 3.5em;
  text-align: center; }

.sitelogo h1 {
  font-size: 1.15em;
  margin: 0.25em 0 0 0;
  color: white;
  text-transform: uppercase; 
}

#page-wrapper {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}
  
#menu-wrapper {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 0%;
  display: block;
  padding: 0;
  margin: 0;
  float: left;
  
  ul,menu,dir {
	  display: block;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
  }
  
  li {
		list-style: none;
		display: block;
		padding: 0 0 0 2em;
		height: 3.5em;
	  cursor: pointer;
		
		.menu-label {
	    padding: 1.25em 0 0 0;
	    width: 75%;
	    display: inline-block;   
    }
    
    .menu-search {
	    padding: 0;
	    width: 75%;
	    display: inline-block;
    }
    
    .menu-search-input{
	    padding: 0;
	    width: 75%;
	    display: inline-block;
	    
	    input[type=text] {
	      font-weight: 100;
	      font-size: 0.9em;
	      width: 100%;
	      padding: 1em 0;
	    }
    }
    
    .menu-icon {
	    padding: 0 0 0 0;
	    width: 20%;
	    display: inline-block;
	    
	    .icon-search, .icon-cog {
		    font-size: 1.25em;
	    }
	    
	    .icon-chevron2 {
		    font-size: 0.8em;
	    }
    }

	}
	
	.menu-socnet-container {
		display: block;
		box-sizing: border-box;
		width: 100%;
		margin-top: 2em;
		padding: 0 2em;
		overflow: hidden;
		z-index: 2000;
	}
	
	.menu-settings-container {
		display: block;
		box-sizing: border-box;
		width: 100%;
		padding: 0 2em;
		overflow: hidden;
		height: 0;
		background: red;
  
    li {
		  width: 100%;
		  margin: 0;
		  height: 3em;
	  }
	}
  
  table, th, tr, td {
	  border: 0;
	  background: none;
	  text-align: center;
  }
	
	.menu-socnet-ico {
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    cursor: pointer; 
    display: block;
    height: 3em;
    width: 3em;
    text-align: center;
    -webkit-border-radius: 2em 2em 2em 2em;
    border-radius: 2em 2em 2em 2em;
    
    .icomoon {
	    font-size: 1.5em;
	    padding-top: 0.5em;
    }
  } 
}




.subnav_wrapper {
  float: left;
  width: 8.33333%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 3em;
  -webkit-border-radius: 0 0.35em 0.35em 0;
  border-radius: 0 0.35em 0.35em 0;
  margin-top: 1em;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05); }

.subnavBtn {
  display: block;
  height: 36px;
  width: 36px;
  margin: 0 0.25em 0 auto;
  cursor: pointer; }

.subnavBtn .icomoon {
  font-size: 1.75em;
  margin: 0.15em 0 0 0;
  cursor: pointer; }

.subnavList {
  display: none;
  height: 180px; }

.subnavList ul {
  margin: 0.5em 0 0 0;
  padding: 0; }

.subnavList li {
  background: #444444;
  color: #fff;
  list-style: none;
  margin-bottom: 1px;
  padding: 0.25em 0.25em 0.25em 1.5em;
  font-family: arial,sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  line-height: 2em;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.main_content_wrapper {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  overflow: auto;
  width: 100%; }

.socnet_wrapper {
  width: 8.33333%;
  display: inline-block;
  overflow: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 1em 0 0.5em 0;
  margin: 0;
  text-align: center; }

.socnet_wrapper ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0; }

.socnet_wrapper .icomoon {
  cursor: pointer; }

.qlink {
  display: inline-block;
  margin-right: 2em;
  width: 14em; }

.qlink .icoframe {
  height: 6em;
  width: 6em;
  -webkit-border-radius: 6em;
  -moz-border-radius: 6em;
  border-radius: 6em;
  margin: 0 auto; }

.qlink .icomoon {
  font-size: 3.75em;
  padding: 0.3em 0 0 0;
  cursor: pointer;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4); }

.qlink p {
  font-weight: 100;
  font-size: 0.8em; }

.glyphfont {
  font-size: 2em;
  color: white; }

.drawer-wrapper {
  height: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  box-shadow: 0px 2px 2px 0px #000 inset;
  -webkit-box-shadow: 0px 2px 2px 0px #000 inset; }

.sitemenuBtn {
  display: inline-block;
  height: 36px;
  width: 36px;
  padding: 0;
  margin: 0;
  cursor: pointer; }

.toolboxBtn {
  padding: 0;
  margin: 0.9em 3em 0 0;
  cursor: pointer;
  text-align: right; }

.toolbox_wrapper .icoframe {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  height: 2em;
  width: 2em;
  margin: 0.15em 0 0 1em; }

.toolbox_wrapper .icomoon {
  font-size: 1.75em;
  cursor: pointer; }

.mainnavList {
  display: none;
  overflow: auto; }

.mainnavList ul {
  margin: 0.5em 0 0 0;
  padding: 0; }

.mainnavList li {
  background-color: transparent;
  margin: 0;
  padding: 0.25em 0.25em 0.25em 1.5em;
  cursor: pointer;
  list-style: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.mainnavList li:hover {
  background-color: rgba(0, 0, 0, 0.2); }

.mainnavList a {
  color: #ccc;
  text-decoration: none;
  font-family: arial,sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  line-height: 2em;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.mainnavList a:hover {
  color: white; }

ul.links li a.active {
  color: #7fb5e5; }

ul.links li a:hover {
  color: #fff; }

.toolboxList {
  display: none;
  overflow: auto; }

.toolboxList ul {
  margin: 0.5em 0 0 0;
  padding: 0; }

.toolboxList li {
  background-color: transparent;
  color: #ccc;
  margin: 0;
  padding: 0.25em 1.5em 0.25em 0.25em;
  cursor: pointer;
  list-style: none;
  text-align: right;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.toolboxList a {
  text-decoration: none;
  font-family: arial,sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  line-height: 2em;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }


.mobile_search {
  display: none;
  clear: both;
  width: 100%;
  height: 3em;
  padding-bottom: 0.5em;
  text-align: center; }

.fixed {
  position: fixed;
  top: 0;
  right: 0; }

.input {
  margin: 10px 0;
  background: #fff;
  float: left;
  clear: both; }

.input span {
  position: absolute;
  padding: 5px;
  margin-left: 3px;
  color: #999; }

.input input, .input textarea, .input select {
  position: relative;
  margin: 0 0 0 0.5em;
  border-width: 0;
  padding: 6px;
  background: transparent;
  font: inherit;
  width: 95%; }

.searchinput {
  font-family: arial,sans-serif;
  font-weight: 500;
  font-size: 0.75em;
  line-height: 1.25em;
  width: 70%;
  margin: 1.2em 0 0 0;
  padding: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  border: none; }

.mosaic_container {
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  margin: 0.5em auto 0 auto;
  padding-left: 0.5em;
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width; }

.msnry_item {
  float: left;
  margin-bottom: 3em;
  width: 32%;
  position: relative;
  cursor: pointer; }

.tile-cover {
  display: block;
  position: absolute;
  background-size: cover;
  background-clip: border-box;
  background-repeat: no-repeat;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.tile-label {
  display: block;
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  bottom: -2.5em;
  height: 2.5em;
  overflow: auto;
  width: 100%;
  border-top: 1px solid #ccc;
  
  .icomoon {
	  display: block;
	  float: left;
	  box-sizing: border-box;
    -moz-box-sizing: border-box;
	  width: 2em;
	  height: 100%;
	  padding-top: 0.5em;
	  color: $clr-tertiary;
	  font-size: 1.25em;
  }
  
  .count {
	  display: block;
	  float: left;
	  box-sizing: border-box;
    -moz-box-sizing: border-box;
	  width: 3em;
	  height: 100%;	  
	  padding-top: 0.85em;
	  text-align: left;
	  color: #666;
	  font-size: 0.85em;
    border-right: 1px solid #ccc;
  }
}

.tile-cover-title {
	display: block;
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  top: 0;
  opacity: 0;
  overflow: auto;
  word-wrap: break-word;
  margin-right: 2em;
	text-align: left;
  
  .tile-title-txt {
	  font-size: 0.9em;
	  font-weight: 100;
	  color: white;
	  text-transform: uppercase;
	  margin: 0;
	  padding: 0.75em;
	  line-height: 1.5em;
	  -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
  }
}

.tile-cover-type {
	display: block;
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  top: 2.5em;
  opacity: 0;
  overflow: auto;
  word-wrap: break-word;
  margin-right: 2em;
	text-align: left;
  
  .tile-icon {
	  font-size: 1em;
	  font-weight: 100;
	  color: white;
	  text-transform: uppercase;
	  margin: 0;
	  padding: 0.75em;
	  line-height: 1.5em;
	  -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
  }
}
