////////////////////////////////////////////////////////
/////   THEME.scss
/////   css for colors, textures, etc.
/////   Scalable and Modular Architecture for CSS
/////   https://smacss.com
////////////////////////////////////////////////////////

@import "partials/mixins";
@import "partials/variables";

/* ---------- Colors ----------- */


body{
  background: $clr-denary;
  
}
body.overlay {
  color: $clr-denary;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#main-wrapper {
  background: $clr-primary;
  -webkit-box-shadow: -2px 2px 3px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow:    -2px 2px 3px 0px rgba(0, 0, 0, 1);
  box-shadow:         -2px 2px 3px 0px rgba(0, 0, 0, 1);
}
/*#main-wrapper{
  background-image: url("../../images/textures/grid_light.png");
}*/
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

#menu-wrapper {
	background: $clr-denary;
	color: white;
	
	.row-bottom {
	  border-bottom: 1px solid $clr-primary;
	}
	
	.menu-search {
		background: $clr-secondary;
		border-right: 1px solid $clr-denary;
	}
	
	.menu-search:hover {
		background: $clr-tertiary;
	}
	
	.menu-search-input {
	    
	  input[type=text] {
	    background: none;
	    border: 0px;
	    color: white;
	  }
	  input[type=text]:focus {
		  outline: none;
	  }
	  input[type=text]:focus::-webkit-input-placeholder {
		  opacity: 0;
	  }
	  input[type=text]:focus:-moz-placeholder {
		  opacity: 0;
	  }
	  input[type=text]:focus::-moz-placeholder {
		  opacity: 0;
	  }
	  input[type=text]:focus:-ms-input-placeholder {
		  opacity: 0;
	  }
	  ::-webkit-input-placeholder {
      color: white;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: white;  
    }
    ::-moz-placeholder {  /* Firefox 19+ */
      color: white;  
    }
    :-ms-input-placeholder {  
      color: white;  
    }
  }
	
	li:hover {
		background: $clr-tertiary;
	}
	
	li {	  
		
	}
	
	.menu-socnet-ico {
	  opacity: 1;
	}
	
	.menu-socnet-ico:hover {
	  opacity: 0.3;
  }
  
  .ico-facebook {
	  background: #3f67c0;
  }
  .ico-twitter {
	  background: #35b5eb;
  }
  .ico-vimeo {
	  background: #26cfde;
  }
  .ico-rss {
	  background: #ffa333;
  }
  .ico-gplus {
	  background: #eb5b4c;
  }
  .ico-pinterest {
	  background: #cf1717;
  }
  
}

a {
  color: $clr-tertiary;
}
a:hover,
a:focus {
  color: $clr-secondary;
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}
#page-wrapper,
#footer-wrapper {
  
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fffeff;
}
footer {
  /*background: $clr-denary;*/
}
footer h2 {
  color: #999;
}
footer h2 a {
  color: #7fb5e5;
}
footer h2 a:hover {
  color: #fff; 
}
#footer-wrapper p {
  color: #999;
}
#footer-wrapper p a {
  color: #7fb5e5;
}
#footer-wrapper p a:hover {
  color: #fff;
} 
.drawer-wrapper {
  background: $clr-denary;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

p {
  color: white;
}

tr.odd {
  background-color: #dddddd; 
}

header {
  background: $clr-secondary;
}

code {
  background-color: #f2f2f2;
}

pre {
  background-color: #f2f2f2;
}

blockquote {
  background: #f7f7f7;
}

blockquote:before {
  color: #bbb;
}

blockquote:after {
  color: #bbb;
}

table tr th {
  background: #757575;
}

tr.odd {
  background: #e4e4e4;
}

tr,
tr.even {
  background: #efefef;
}


.features h1 {
  color: #ffe074;
}
.features p {
  color: white;
}

.demo_message {
  font-size: 1em;
  font-weight: 300;
  color: white;
}

.tile-label {
  background: $clr-nonary;
}
 
.tile-label .icomoon {
  color: $clr-tertiary;
}
 
.subnav_wrapper .icomoon{
  color: white;
}
.subnavList li {
  background: #f77255;}
  
.subnavList li:hover {
  background: #e45f42; }

.subnav_wrapper .icomoon:hover {
  color: #f7aa9a; }

.subnav_wrapper {
  border: 1px solid #ccc;
  background: #f77255;
}


.socnet_wrapper .icoframe {
  border: 1px solid #ccc;
  background: #f77255;
}
.socnet_wrapper .icomoon {
  color: white;
}
.socnet_wrapper .icomoon:hover {
  color: #f7aa9a; }

.toolbox_wrapper .icomoon {
  color: white; }
.toolbox_wrapper .icomoon:hover {
  color: $clr-primary; }
  
.toolboxList a {
  color: $clr-tertiary;}
.toolboxList a:hover {
  color: white; }


.menubtn_wrapper .icomoon {
  color: white; }
.menubtn_wrapper .icomoon:hover {
  color: $clr-primary; }

.tile-cover-title {
  background: $clr-secondary;
}

.tile-cover-type {
  background: $clr-secondary;
}

.tile-desc {
  background: $clr-nonary; 
}
.tile_icon_wrapper {
  background: #555;
}
.tile_icon_wrapper .tile_icon {
  color: white;
}
  
.tile_label_txt {
  color: #777777;
}

.header-wrapper .icoframe {
  border: 0;
  background: #666;
}
.header-wrapper .icomoon {
  color: #ccc;
}

.mobile_search {
  background: #999;
}

.searchinput {
  color: #999;
}

.form-wrapper {
  background: $clr-secondary;
}

.form-wrapper .icomoon:hover {
		color: $clr-primary;
}

.form-wrapper input[type=submit] {
		background: $clr-tertiary;
}

.form-wrapper input[type=submit]:hover {
		background: $clr-primary;
}

.form-wrapper a:hover {
		color: $clr-primary;
}

/*
#email {
    background-image: url("../images/mail.png");
    background-position: 7px 7px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
}
*/

.section-page a:hover{
  color: $clr-denary;
}

.section-page-breadcrumb a:hover {
  color: $clr-denary;
}
.object-detail-left {
	background: $clr-primary;
}

.object-detail-right {
	background: $clr-primary;
}

.object-detail-comments input[type=submit] {
  background: $clr-tertiary;
}

.object-detail-comments input[type=submit]:hover {
  background: $clr-primary;
}






