@media only screen and (min-width: 280px) {
  .sitelogo_wrapper {
    width: 45%; }

  .menubtn_wrapper {
    width: 5%; }

  .searchbox_wrapper {
    display: none; }

  .toolbox_wrapper {
    width: 50%; }

  .subnav_wrapper {
    display: none; }

  .socnet_wrapper {
    width: 100%;
    clear: both;
    float: left; }

  .socnet_wrapper li {
    display: inline-block;
    clear: none;
    margin: 0 0 0 1em;
    text-align: left; }

  .socnet_wrapper .icomoon {
    font-size: 1.25em;
    padding: 0.25em 0 0 0; }

  .socnet_wrapper .icoframe {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    height: 2em;
    width: 2em; }

  .main_content_wrapper {
    width: 100%; }

  .mobile_search {
    display: block; }

  .form-item-search-block-form input {
    width: 20em; } }
@media only screen and (min-width: 620px) {
  .sitelogo_wrapper {
    width: 45%; }

  .menubtn_wrapper {
    width: 5%; }

  .searchbox_wrapper {
    display: none; }

  .toolbox_wrapper {
    width: 50%; }

  .subnav_wrapper {
    display: none; }

  .socnet_wrapper {
    width: 100%;
    clear: both;
    float: left; }

  .socnet_wrapper li {
    display: inline-block;
    clear: none;
    margin: 0 0 0 1em;
    text-align: left; }

  .socnet_wrapper .icomoon {
    font-size: 1.25em;
    padding: 0.4em 0 0 0; }

  .socnet_wrapper .icoframe {
    -webkit-border-radius: 2.5em;
    -moz-border-radius: 2.5em;
    border-radius: 2.5em;
    height: 2.5em;
    width: 2.5em; }

  .main_content_wrapper {
    width: 100%; }

  .mobile_search {
    display: block; }

  .form-item-search-block-form input {
    width: 38em; } }
@media only screen and (min-width: 920px) {
  .sitelogo_wrapper {
    width: 15%; }

  .menubtn_wrapper {
    width: 5%; }

  .searchbox_wrapper {
    display: inline-block;
    width: 70%; }

  .toolbox_wrapper {
    width: 10%; }

  .subnav_wrapper {
    width: 8.33333%;
    display: inline-block; }

  .socnet_wrapper {
    width: 8.33333%;
    clear: none;
    float: right; }

  .socnet_wrapper li {
    display: block;
    clear: both;
    margin: 0 0 1em 0;
    text-align: center; }

  .socnet_wrapper .icomoon {
    font-size: 1.5em;
    padding: 0.5em 0 0 0; }

  .socnet_wrapper .icoframe {
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    border-radius: 3em;
    height: 3em;
    width: 3em; }

  .main_content_wrapper {
    width: 83.33333%; }

  .mobile_search {
    display: none; }

  .form-item-search-block-form input {
    width: 30em; } }
@media only screen and (min-width: 1400px) {
  .sitelogo_wrapper {
    width: 15%; }

  .menubtn_wrapper {
    width: 5%; }

  .searchbox_wrapper {
    display: inline-block;
    width: 70%; }

  .toolbox_wrapper {
    width: 10%; }

  .subnav_wrapper {
    width: 8.33333%;
    display: inline-block; }

  .socnet_wrapper {
    width: 8.33333%;
    clear: none;
    float: right; }

  .socnet_wrapper li {
    display: block;
    clear: both;
    margin: 0 0 1em 0;
    text-align: center; }

  .socnet_wrapper .icomoon {
    font-size: 1.5em;
    padding: 0.5em 0 0 0; }

  .socnet_wrapper .icoframe {
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    border-radius: 3em;
    height: 3em;
    width: 3em; }

  .main_content_wrapper {
    width: 83.33333%; }

  .mobile_search {
    display: none; }

  .form-item-search-block-form input {
    width: 40em; } }
