/* ---------- Colors ----------- */
body {
  background: #0e112a; }

body.overlay {
  color: #0e112a; }

.comment .comment-arrow {
  border-color: #ffffff; }

#main-wrapper {
  background: #002b53;
  -webkit-box-shadow: -2px 2px 3px 0px black;
  -moz-box-shadow: -2px 2px 3px 0px black;
  box-shadow: -2px 2px 3px 0px black; }

/*#main-wrapper{
  background-image: url("../../images/textures/grid_light.png");
}*/
.tabs ul.primary li a.active {
  background-color: #ffffff; }

.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff; }

#menu-wrapper {
  background: #0e112a;
  color: white; }
  #menu-wrapper .row-bottom {
    border-bottom: 1px solid #002b53; }
  #menu-wrapper .menu-search {
    background: #3f67c0;
    border-right: 1px solid #0e112a; }
  #menu-wrapper .menu-search:hover {
    background: #35b5eb; }
  #menu-wrapper .menu-search-input input[type=text] {
    background: none;
    border: 0px;
    color: white; }
  #menu-wrapper .menu-search-input input[type=text]:focus {
    outline: none; }
  #menu-wrapper .menu-search-input input[type=text]:focus::-webkit-input-placeholder {
    opacity: 0; }
  #menu-wrapper .menu-search-input input[type=text]:focus:-moz-placeholder {
    opacity: 0; }
  #menu-wrapper .menu-search-input input[type=text]:focus::-moz-placeholder {
    opacity: 0; }
  #menu-wrapper .menu-search-input input[type=text]:focus:-ms-input-placeholder {
    opacity: 0; }
  #menu-wrapper .menu-search-input ::-webkit-input-placeholder {
    color: white; }
  #menu-wrapper .menu-search-input :-moz-placeholder {
    /* Firefox 18- */
    color: white; }
  #menu-wrapper .menu-search-input ::-moz-placeholder {
    /* Firefox 19+ */
    color: white; }
  #menu-wrapper .menu-search-input :-ms-input-placeholder {
    color: white; }
  #menu-wrapper li:hover {
    background: #35b5eb; }
  #menu-wrapper .menu-socnet-ico {
    opacity: 1; }
  #menu-wrapper .menu-socnet-ico:hover {
    opacity: 0.3; }
  #menu-wrapper .ico-facebook {
    background: #3f67c0; }
  #menu-wrapper .ico-twitter {
    background: #35b5eb; }
  #menu-wrapper .ico-vimeo {
    background: #26cfde; }
  #menu-wrapper .ico-rss {
    background: #ffa333; }
  #menu-wrapper .ico-gplus {
    background: #eb5b4c; }
  #menu-wrapper .ico-pinterest {
    background: #cf1717; }

a {
  color: #35b5eb; }

a:hover,
a:focus {
  color: #3f67c0; }

a:active {
  color: #23aeff; }

.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9; }

.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fffeff; }

footer {
  /*background: $clr-denary;*/ }

footer h2 {
  color: #999; }

footer h2 a {
  color: #7fb5e5; }

footer h2 a:hover {
  color: #fff; }

#footer-wrapper p {
  color: #999; }

#footer-wrapper p a {
  color: #7fb5e5; }

#footer-wrapper p a:hover {
  color: #fff; }

.drawer-wrapper {
  background: #0e112a; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white; }

p {
  color: white; }

tr.odd {
  background-color: #dddddd; }

header {
  background: #3f67c0; }

code {
  background-color: #f2f2f2; }

pre {
  background-color: #f2f2f2; }

blockquote {
  background: #f7f7f7; }

blockquote:before {
  color: #bbb; }

blockquote:after {
  color: #bbb; }

table tr th {
  background: #757575; }

tr.odd {
  background: #e4e4e4; }

tr,
tr.even {
  background: #efefef; }

.features h1 {
  color: #ffe074; }

.features p {
  color: white; }

.demo_message {
  font-size: 1em;
  font-weight: 300;
  color: white; }

.tile-label {
  background: #e1e2e9; }

.subnav_wrapper .icomoon {
  color: white; }

.subnavList li {
  background: #f77255; }

.subnavList li:hover {
  background: #e45f42; }

.subnav_wrapper .icomoon:hover {
  color: #f7aa9a; }

.subnav_wrapper {
  border: 1px solid #ccc;
  background: #f77255; }

.socnet_wrapper .icoframe {
  border: 1px solid #ccc;
  background: #f77255; }

.socnet_wrapper .icomoon {
  color: white; }

.socnet_wrapper .icomoon:hover {
  color: #f7aa9a; }

.toolbox_wrapper .icomoon {
  color: white; }

.toolbox_wrapper .icomoon:hover {
  color: #002b53; }

.toolboxList a {
  color: #35b5eb; }

.toolboxList a:hover {
  color: white; }

.menubtn_wrapper .icomoon {
  color: white; }

.menubtn_wrapper .icomoon:hover {
  color: #002b53; }

.tile-cover-title {
  background: #002b53; }

.tile-cover-type {
  background: #002b53; }

.tile-desc {
  background: #e1e2e9; }

.tile_icon_wrapper {
  background: #555; }

.tile_icon_wrapper .tile_icon {
  color: white; }

.tile_label_txt {
  color: #777777; }

.header-wrapper .icoframe {
  border: 0;
  background: #666; }

.header-wrapper .icomoon {
  color: #ccc; }

.mobile_search {
  background: #999; }

.searchinput {
  color: #999; }
