////////////////////////
// Variables
////////////////////////

$bkg_pattern: url('../images/grid_light.png');

$header_bkg: #444;
$header_over: #ccc;

$radius: 0.35em;

$icon: #aaa;
$icon_bkg: #fff;
$icon_over: #666;
$icon_socnet: #444;

$socnet_icon: #444;
$socnet_over: #999;

$tile_label_bkg: #333;
$tile_label_txt: #ddd;
$tile_label_icon: #444;
$tile_label_icon_over: #111;
$tile_label_btn: #bbb;
$tile_label_info: #666;
$tile_label_info_over: #ccc;

$subnav_bkg: #444;
$subnav_over: #333;
$subnav_icon_over: #ccc;