////////////////////////
// Variables
////////////////////////

$bkg_pattern_01: url('../images/textures/grid_light.png');
$bkg_pattern_02: url('../images/textures/grid_dark.png');

$body_p: #ddd;
$body_h: #666;

$links: #7fb5e5;
$links_over: #fff;

$header_bkg: #444;
$header_over: #ccc;

$radius: 0.35em;
$radius_input: 0.5em;

$icon: #aaa;
$icon_bkg: #fff;
$icon_over: #666;
$icon_socnet: #444;

$socnet_icon: #444;
$socnet_over: #999;

$tile_label_bkg: #333;
$tile_label_txt: #ddd;
$tile_label_icon: #555;
$tile_label_icon_over: #000;
$tile_label_icon_bkg: #aaa;
$tile_label_info: #666;
$tile_label_info_over: #ccc;

$subnav_bkg: #444;
$subnav_over: #333;
$subnav_icon_over: #ccc;
